@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
  overflow-x: hidden;
}
.hid{
  opacity: 0;
  filter : blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.shown{
  opacity: 1;
  filter : blur(0px);
  transform: translateX(0%);
}

.access:nth-child(2){
  transition-delay: 300ms;
}
.access:nth-child(3){
  transition-delay: 600ms;
}

.delayedButton{
  transition-delay: 300ms;
}



:root {
  --marquee-width: 98.5vw;
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 5s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: #111;
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  min-width: 90%;
  width: 90%;
  height: 100%;
  border-radius: 20px;

}

@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-elements-displayed: 1.5;
  }
  .marquee:before, .marquee:after { width: 5rem; }
}
.logo{
  transition: 0.5s;
}
